<div
  class="container w-75 d-flex flex-column    mt-5 p-3"
  style="background-color: white ;position: relative;"
>
  <h2 style="color: rgb(189 61 27)">Your cart ({{recipe.length}})</h2>
  <div  *ngIf="confirmed"><app-confirmorder (close)="notconfirm($event)"></app-confirmorder></div>
  <div >
    <div>
      <div *ngFor="let item of recipe ; let i = index">
        <p>{{item.lname}}</p>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <p style="color: rgb(189 61 27)">{{item.numoforder}}X</p>
          <p class="ps-2">&#64;{{item.price}}</p>
          <p class="ps-2" style="color: #9a7468">${{item.numoforder*item.price}}</p>
        </div>
        <button (click)="removefronlist(i)" style="background-color: transparent; border: transparent">
          <svg
            style="color: #9a7468"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-x-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
            />
          </svg>
        </button>
      </div>
      <hr>
      </div>
      <div *ngIf="recipe.length" class="d-flex justify-content-between">
        <p>Order Total </p>
        <p>{{ordertotal}}</p>
      </div>
      <div>
        <button  (click)="confirmorder()"  *ngIf="recipe.length!=0" class="w-100" style="border-radius:20px;border-color:transparent    ; color:white; background-color:rgb(189 61 27);" >Confirm Order</button>
    </div>
  </div>
  <p *ngIf="recipe.length==0" style="position: absolute; bottom:0; " class="ps-5 d-sm-none d-md-block text-muted">Your added items will appear here</p>
</div>
